*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: #cc78;
    
}

.container{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

.pinInput{
    background-color: #ff675f;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.pinInput i{
    color: white;
    font-size: 15px;
}

.pinInput input{
    font-size: 15px;
    padding: 5px;
    max-width: 150%;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
}

.pinInput input::placeholder{
    color: white;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
    margin-top: 10px;
}

.buttons *{
    cursor: pointer;
}